*{
    margin:0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body{
    background-color:rgb(237, 243, 243);
}
#sidebarMenu{
    z-index:1;
    position: fixed;
    top: 1px;
    width: 2px;
    height:1px;
    overflow-y: auto;
    position: fixed;
    float:left;
}

#sidebarMenu #menu ul a{
    text-align: center;
    padding: 20px;


}
#sidebarMenu #menu ul li a{
    padding: 10px, 100px;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color:white;
    
}
#sidebarMenu #menu{
    z-index: 1;
    position:fixed;
    width: 250px;
    height: 900px;
    transition: 0.3;
    overflow-y: auto;
    background-color:#404040;
}
#sidebarMenu #menu .mb-1{
display: block;
color:#fff;
position: relative;
padding: 5px 20px;
}

#sidebarMenu{
    background-color:rgb(15, 15, 15) ;
    width: 1000px;
    height: 500px;
    display: inline-block;
}
#employee-list, #item-list, #customer-list, #inventory-list{
    margin-left: 20px;
}
.link-dark rounded{
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }