*{
    margin:0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body{
    background-color:rgb(237, 243, 243);
}

#sidebarMenu{
    z-index:1;
    position: fixed;
    top: 1px;
    width: 2px;
    height:1px;
    overflow-y: auto;
    position: fixed;
    float:left;
    padding:2000px;
}

#sidebarMenu #menu ul a{
    text-align: center;
    padding: 20px;


}
#sidebarMenu #menu ul li a{
    padding: 10px;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color:white;
    
}

#sidebarMenu #menu {
    z-index: 1;
    position:fixed;
    width: 110px;
    height: 900px;
    transition: 0.3;
    overflow-y: auto;
    background-color:#404040;
}
#menu #logo{
    width:1000px;
    height: 1000px;
}
#sidebarMenu #menu .mb-1{
display: block;
color:#fff;
position: relative;
padding: 5px;
}

#sidebarMenu{
    background-color:rgb(15, 15, 15) ;
    width: 1000px;
    height: 500px;
    display: inline-block;
}
#employee-list, #item-list, #customer-list, #inventory-list{
    margin-left: 20px;
}
.btn .btn-toggle{
color:white !important;
padding: 20px !important;
width: 100px;
} 

.list-group-item{
    background-color: black !important;
    border-radius: 5px !important;
    padding: 10px !important;
    width: 2000px;
    height: auto;

  }
